/* line 1, ../../../scss/server/_partials/mixinsfold/projects.scss */
.projects-main {
  margin-bottom: 50px; }
  /* line 6, ../../../scss/server/_partials/mixinsfold/projects.scss */
  .projects-main .projects-more {
    font-size: 12px;
    font-family: "IBM Plex Sans";
    color: #00a3e3;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-top: 20px; }
  /* line 16, ../../../scss/server/_partials/mixinsfold/projects.scss */
  .projects-main .preview {
    font-size: 16px;
    font-family: "IBM Plex Sans";
    color: #555555;
    line-height: 1.556;
    text-align: left; }
  /* line 24, ../../../scss/server/_partials/mixinsfold/projects.scss */
  .projects-main .one-project-block {
    height: 300px; }

/* line 28, ../../../scss/server/_partials/mixinsfold/projects.scss */
.mouse-hover-class-project {
  width: 100%;
  margin-top: 25px;
  height: 100%;
  background-position: center center;
  background-size: cover;
  filter: brightness(50%); }

/* line 36, ../../../scss/server/_partials/mixinsfold/projects.scss */
.title-note-project {
  font-size: 28px;
  color: #111111;
  line-height: 1.286;
  text-align: left; }

/* line 45, ../../../scss/server/_partials/mixinsfold/projects.scss */
.desctop-project .logo-project {
  padding-top: 27px; }
/* line 49, ../../../scss/server/_partials/mixinsfold/projects.scss */
.desctop-project .title-block-project {
  padding-top: 25px; }

/* line 55, ../../../scss/server/_partials/mixinsfold/projects.scss */
.mobile-project .logo-project {
  padding-top: 22px; }
/* line 63, ../../../scss/server/_partials/mixinsfold/projects.scss */
.mobile-project .preview-block-project {
  padding-top: 15px; }

@media screen and (max-width: 576px) {
  /* line 69, ../../../scss/server/_partials/mixinsfold/projects.scss */
  .desctop-project {
    display: none; } }
@media screen and (min-width: 577px) {
  /* line 74, ../../../scss/server/_partials/mixinsfold/projects.scss */
  .mobile-project {
    display: none; } }
