.federation-wrapper{
    // margin-top: 15px;
    h3{
        margin-top: 5px;
        font-size: 21px;
        font-family: "IBM Plex Sans";
        color: rgb(17, 17, 17);
        line-height: 1.286;

    }
    p{
        margin-top: 5px;
        font-size: 16px;
        font-family: "IBM Plex Sans";
        color: rgb(85, 85, 85);
        line-height: 1.556;
    }
    .guidance-wrap{
        background-color: rgb(249, 249, 249);
        margin-bottom: 20px;
        h6{
            font-size: 25px;
            font-family: "IBM Plex Sans";
            color: rgb(17, 17, 17);
            line-height: 1.286;
            text-align: left;
        }
        .guidance-info{
            font-size: 16px;
            font-family: "IBM Plex Sans";
            color: rgb(85, 85, 85);
            line-height: 1.556;
            text-align: left;
            -moz-transform: matrix( 0.99999995439705,0,0,1,0,0);
            -webkit-transform: matrix( 0.99999995439705,0,0,1,0,0);
            -ms-transform: matrix( 0.99999995439705,0,0,1,0,0);
        }

        .guidance-phone{
            font-size: 18px;
            font-family: "IBM Plex Sans";
            color: rgb(17, 17, 17);
            line-height: 1.8;
            text-align: left;
        }
    }
}

.page-header-text-federation{
    font-size: 40px;
    font-family: "IBM Plex Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;  
}

.desctop-head-news{
    position: absolute;
    top: 150px;
}

.mobile-head-news{
    position: absolute;
    top: 120px;
}

.page-nav-federation{
    
    // position: absolute;
    // top: -50px;
    
    a{
    font-size: 18px;
    font-family: "IBM Plex Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    }

    a:not(:last-child){
        padding-right: 20px;
    }
}
a:hover{
    color: rgb(0, 163, 227);
}

a.federation-active{
    color: rgb(0, 163, 227);
}

span.page-header-text-federation{
    a{
        color: rgb(255, 255, 255);
    }
    a:hover{
        color: rgb(0, 163, 227);
    }
}

.contact-content{
    text-align: left;

    .contact-i-left{
        font-size: 24px;
        color: rgb(221, 221, 221);

        padding-right: 30px;
        padding-left: 3px;
    }

    .contact-i-center{
        font-size: 20px;
        color: rgb(221, 221, 221);

        padding-right: 26px;
    }

    .contact-i-right{
        font-size: 23px;
        color: rgb(221, 221, 221);

        padding-right: 27px;
    }

    span{
        font-size: 20px;
        font-family: "IBM Plex Sans";
        color: rgb(17, 17, 17);
        line-height: 1.8;
        font-weight: bold;
    }
    .contact-span-name{
        padding-right: 50px;
    }
    .contact-span-name-last{
        padding-right: 27px;
    }

    .contact-span-info{
        font-size: 18px;
        font-family: "IBM Plex Sans";
        color: rgb(85, 85, 85);
        line-height: 1.556;
    }
}

.wrapper-form{

    background-color: rgb(242, 242, 242);
    
    font-family: "IBM Plex Sans";
    .form_box {
        // width: 300px;
        margin: 40px ;
 
        h4{
            font-size: 25px;
            color: rgb(17, 17, 17);
            line-height: 1.286;
            text-align: left;
            padding-bottom: 25px;
        }
    
        p{
            font-size: 18px;
            color: rgb(85, 85, 85);
            line-height: 1.556;
            text-align: left;
            padding-bottom: 35px;
        }
        .input-block-left{
            // padding-right: 0px !important;
            height: 60px;
        }
        .input-block-right{
            // padding-left: 0px !important;
            height: 60px;
        }

        .input-block-message{
            height: 100px;
            margin-bottom: 30px;
        }
        input {
            display: block;
            font-size: 14px;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            border-style: solid;
            border-width: 1px;
            border-color: rgb(220, 220, 220);
            background-color: rgb(255, 255, 255);
            padding-left: 15px;
            font-size: 20px;
            font-family: "IBM Plex Sans";
            color: rgb(85, 85, 85);
            line-height: 1.556;
          }
    
      }
      .form_box input:focus {
        outline: none;
        // border-color: #07a6e6;
        font-size: 18px;
        font-family: "IBMPlexSans";
        color: rgb(240, 137, 137);
        line-height: 1.556;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(249, 172, 172);
        background-color: rgb(255, 247, 247);
      }
      .form_box .btn_submit {
        border: none;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        height: 48px;
        line-height: 28px;
        padding: 0;
        border-style: solid;
        border-width: 1px;
        background-image: -moz-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
        font-size: 12px;
        font-family: "IBM Plex Sans" !important;
        color: rgb(255, 255, 255) !important;
        text-transform: uppercase;
        font-size: 18px;
      }
    //   .form_box .btn_submit:hover {
    //     background: rgb(0, 163, 227);
    //     background-image: -moz-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     background-image: -webkit-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     background-image: -ms-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     color: rgb(220, 220, 220);
    //   }
    //   .form_box .btn_submit:active {
    //     box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
    //     background: rgb(0, 163, 227);
    //     background-image: -moz-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     background-image: -webkit-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     background-image: -ms-linear-gradient( 0deg, rgb(32,163,217) 0%, rgb(235,23,139) 100%);
    //     color: rgb(220, 220, 220);
    //   }
      .form_box .btn_submit.disabled,
      .form_box .btn_submit.disabled:hover {
        background: rgb(255, 255, 255);
        color: rgb(0, 163, 227) !important;
        cursor: default;
      }
}

@media screen and ( max-width: 992px ){
    .guidance-wrap{
        h6{
            font-size: 22px !important;
        }
        .guidance-info{
            font-size: 14px !important;
        }

        .guidance-phone{
            font-size: 16px !important;
        }
    }
    .body-block-news{ 
		padding-right:20px;
    }
    // .body-block-competition{ 
	// 	padding-right:20px;
    // }
    .body-block-calendar{ 
		padding-right:35px;
    }
    
    .media-more{
		padding-right: 20px;
	}
}

@media screen and ( min-width: 575px ){
    .adap-header-federation{
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;

    }
}
@media screen and ( max-width: 575px ){
    .adap-header-federation{
        padding-top:50px;
    }
}

@media screen and ( min-width: 768px ){
    .input-block-left{
        padding-right: 0px !important;
    }
    .input-block-right{
        padding-left: 0px !important;
    }
}
@media screen and ( max-width: 767px ){

    .wrapper-form{
        .form_box {
            margin: 0px;
            margin-top: 20px;
        }
    }
}
