footer{
	position: absolute;
	bottom: 0;
	
	  
	width: 100%;
	background-color: rgb(250, 250, 250);
	// display: none;
}
.mobile{
	// footer{
	// 	height: 100px;
	// }
	.info-block{

		text-align: center;
		font-size: 16px;
		font-family: "IBM Plex Sans";
		color: rgb(153, 153, 153);

		span{
			padding-bottom: 10px;
			padding-right: 10px; 
		}

		a{
			font-family: "IBM Plex Sans";
			color: rgb(153, 153, 153);
			text-align: center;
		}
		a:hover{
			color: rgb(0, 163, 227);
		}
	}
}
.desctop{

	footer{
		height: 361px;
	}
	.footer-container{
		padding-top: 20px;
		// padding-bottom: 20px;
	
		.logo-block{
			margin-bottom: 20px;
			margin-left: 10px;
		}
	
		li{
			display: block;
		}
		.footer-icon-social{
			padding-right: 10px;
			font-size: 16px;
		}
		.info-block{
			font-size: 16px;
			font-family: "IBM Plex Sans";
			color: rgb(153, 153, 153);
	
			span{
				padding-bottom: 10px;
				padding-right: 10px; 
			}
		}
		.footer-nav-gen{
			padding-bottom: 20px;
		}
	
		.footer-nav{
			padding-bottom: 10px;
		}
	
		a{
			font-family: "IBM Plex Sans";
			color: rgb(153, 153, 153);
			text-align: center;
		}
	
		.footer-nav-gen a{
			font-size: 18px;
		}
	
		.footer-nav a{
			font-size: 15px;
		}
		
		a:hover{
			color: rgb(0, 163, 227);
		}		  
	}

	hr{
		border-bottom: 1px solid rgb(180, 180, 180 );
		border-bottom: 1px solid rgba(180, 180, 180, .5);
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	}
	
	.container-fluid{
	  height: 100%;
	  display:table;
	  width: 100%;
	  padding: 0;
	}
	 
	.row-fluid {
	  height:100%; 
	  display:table-cell; 
	  vertical-align: middle;
	}
	 
	.centering {
	  float:none;
	  margin:0 auto;
	}

	.footer-politic-block{
		height: 100px;
		width: 100%;
		background-color: #fff;
	}
	.foot-desctop-span-info{
		font-size: 14px;
		color: rgb(153, 153, 153);
		line-height: 2.143;
	}
}


@media ( min-width: 770px ) and ( max-width: 779px ){

	.desctop{
		.footer-container {
			.footer-nav-gen a{
				font-size: 17px;
			}
		
			.footer-nav a{
				font-size: 14px;
			}
		}
	}
}
@media screen and ( min-width: 770px ){
	.mobile{
		display: none;
	}
}
@media screen and ( max-width: 769px ){
	body{
		margin-bottom: 0 !important;
	}
	.desctop{
		display: none;
	}
	.carousel-title{
        text-align: center !important;
    }
    .carousel-inner {
        text-align: center !important;
    }
}

// @media screen and ( max-width: 769px ){
// 	body{
// 		margin-bottom: 361px;
// 	}
	
// }